[phases.setup]
nixPkgs = ["python311", "postgresql"]

[phases.install]
cmds = [
  "pip install --upgrade pip",
  "pip install -r requirements.txt",
  "chmod +x start_server.py"
]

[start]
cmd = "python start_server.py"

